<div class="modal fade" bsModal #operationModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">

    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">{{operationTitle}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="operationModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="onSubmit(f)" #f="ngForm">

                <div class="modal-body">


                    <div class="form-group">

                        <label>Selecione uma moeda</label>
                        <select class="form-control" [ngModel]="currencyOption" name="currency" required (change)="onChange($event.target.value)">
                            <option *ngFor="let currency of currencyOptions" value="{{currency.id}}">
                                {{currency.currency}}
                            </option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label>Quantidade</label>
                        <input type="tel" [(ngModel)]="quantityOption" name="quantity" #quantity class="form-control" (keyup)="onKey(quantity.value)">
                    </div>

                    <div class="form-group">

                        <label>Pagar com</label>
                        <select class="form-control" [ngModel]="paymentOption" name="paymentOption" required>
                            <option *ngFor="let currency of currencyOptions" value="{{currency.id}}">
                                {{currency.currency}}
                            </option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label>Valor a pagar</label>
                        <p>R$ {{values | number : '1.2-2'}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" (click)="operationModal.hide()">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>

