.fab-btn {
    align-content: center;
    border-radius: 50%;
    bottom: 70px;
    color: #fff;
    box-shadow: 1px 0px 10px 0px #9a9a9a;
    display: flex;
    flex-flow: row wrap;
    font-size: 32px;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 24px;
    width: 50px;
    z-index: 5;
    @media (min-width: $screen-desktop-min) {
        bottom: 50px;
        height: 60px;
        right: 50px;
        width: 60px;
    }
    &.primary {
        background-color: $verde-principal;
    }
    .icon {
        align-self: center;
        fill: #fff;
        height: 20px;
        width: 20px;
    }
}

.fab-options {
    align-items: center;
    bottom: 120px;
    display: none;
    position: fixed;
    right: 0;
    @media (min-width: $screen-desktop-min) {
        right: 35px;
    }
    .option-list {
        align-content: baseline;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 16px 4px 0;
    }
    .option-text {
        background-color: #424242;
        border-radius: 40px;
        color: #ffffff;
        margin-left: 8px;
        padding: 4px 8px;
    }
    .icon {
        height: 20px;
        position: relative;
        top: 5px;
        width: 20px;
    }
}

