//é onde colocamos resets, box-sizing, etc.

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
}

html,
body {
    min-height: 100%;
}
