// estilos para os headings h1-h6, blockquotes, a, buttons, etc

main {
    // Calcula o tamanho da pagina inteira e subtrai
    // 55px que é o valor da barra de navegação
    min-height: calc(100vh - 55px);
    @media (min-width: $screen-desktop-min) {
        min-height: calc(100vh);
    }
    position: relative;
    z-index: 3;
}

.svg-bg {
    display: none;
    @media (min-width: $screen-desktop-min) {
        background: #e0e0e0;
        bottom: 0;
        direction: ltr;
        display: inherit;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}



.content {
    margin-bottom: 48px;
    padding: 16px 16px;
    width: 100%;
    @media (min-width: $screen-desktop-min) {
        margin-bottom: 0;
        padding: 32px 32px 0 102px;
    }
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button,
input {
    background: none;
    border: none;

    &:focus,
    &:active {
        outline: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    color : #424242;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}