<section class="section container flexrow">

    <h1 class="title">
        Cotação
    </h1>

    <div class="card inline">
        <svg class="icon icon-bitcoin">
            <use xlink:href="#icon-bitcoin"></use>
        </svg>
        <div class="currency-info">
            <span class="card-mountant"> 0 </span>
            <p class="subtitle">
                20/05/2018 - 11:20
            </p>
        </div>

    </div>

    <div class="card inline">
        <svg class="icon icon-dollar-sign">
            <use xlink:href="#icon-dollar-sign"></use>
        </svg>
        <div class="currency-info">
            <span class="card-mountant"> 0 </span>
            <p class="subtitle">
                20/05/2018 - 11:20
            </p>
        </div>

    </div>

</section>
