<!-- <button (click)="form_logout()" type="button">Deslogar</button> -->
<section class="login">
    <svg class="icon icon-banknote">
        <use xlink:href="#icon-banknote"></use>
    </svg>
    <h1 class="title">Compre | Venda | Guarde</h1>
    <h2 class="subtitle">Aqui seu dinheiro está sob controle</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="login-form">
        <label>E-mail</label>
        <input type="text" class="input-group" required ngModel name="email" placeholder="Exemplo: thanos@dust.com">
        
        <label>Senha</label>
        <input type="password" class="input-group" required ngModel name="senha" placeholder="Exemplo: *******">
        
        <button type="submit" class="btn btn-success">Logar</button>
    </form>

    <a href="" class="register">Não tenho conta ainda</a>
</section>

