<section class="section container">

    <h1 class="title">
        Dashboard
    </h1>

    <div class="card">
        <header class="card-header">
            <svg class="icon icon-dollar-sign">
                <use xlink:href="#icon-dollar-sign"></use>
            </svg>
            <svg class="icon icon-plus">
                <use xlink:href="#icon-plus"></use>
            </svg>
        </header>
        <div class="card-body">
            <p class="title">
                100.000,00
            </p>
            <p class="subtitle">
                Atualizado em 20/05/2018 - 11:20
            </p>
        </div>
    </div>


</section>

