.login {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    padding: 0 16px;
    @media (min-width: $screen-tablet-min) {
        padding: 0 25%;
    }
    .title {
        font-size: 1.8em;
        margin: 4px 0;
        text-align: left;
        width: 100%;
    }
    .subtitle {
        @extend .title;
        font-size: 1.3em;
    }
    .login-form {
        width: 100%;
    }
    .login-label {
        margin: 16px 0 0;
    }
    .btn {
        height: 40px;
        margin-top: 36px;
        width: 100%;
    }
    .register {
        text-align: left;
        width: 100%;
        >a {
            color: #2196F3;
            margin: 32px 0;
            text-decoration: underline;
        }
    }

    .link {
        color: #2196F3;
        margin: 32px 0;
        text-decoration: underline;
        text-align: center;
    }
}

