<section class="section container">

    <h1 class="title">
        Operações
    </h1>

    <button class="fab-btn primary">
        <svg class="icon icon-shopping-cart">
            <use xlink:href="#icon-shopping-cart"></use>
        </svg>
    </button>

    <div class="card">
        <header class="card-header">
            <svg class="icon icon-dollar-sign">
                <use xlink:href="#icon-dollar-sign"></use>
            </svg>
        </header>
        <div class="card-body">
            <p class="title">
                100.000,00
            </p>
            <p class="subtitle">
                20/05/2018 - 11:20
            </p>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <svg class="icon icon-bitcoin">
                <use xlink:href="#icon-bitcoin"></use>
            </svg>
        </header>
        <div class="card-body">
            <p class="title">
                100.000,00
            </p>
            <p class="subtitle">
                20/05/2018 - 11:20
            </p>
        </div>
    </div>
    
</section>

