<section class="section container flexrow">

    <h1 class="title">
        Operações
    </h1>

    <ul id="js-fabOptions" class="fab-options">
        <li class="option-list" (click)="showModal('compra')">
            <svg class="icon icon-plus">
                <use xlink:href="#icon-plus"></use>
            </svg>
            <span class="option-text">Comprar</span>
        </li>
        <li class="option-list" (click)="showModal('venda')">
            <svg class="icon icon-minus">
                <use xlink:href="#icon-minus"></use>
            </svg>
            <span class="option-text">Vender</span>
        </li>
        <li class="option-list" (click)="showChangeModal()">
            <svg class="icon icon-arrow-repeat-outline">
                <use xlink:href="#icon-arrow-repeat-outline"></use>
            </svg>
            <span class="option-text">Trocar</span>
        </li>
    </ul>

    <button id="js-fabButton" class="fab-btn primary rotate" (click)="showOptions()">
        <svg class="icon icon-plus">
            <use xlink:href="#icon-plus"></use>
        </svg>
    </button>

    <div class="card" *ngFor="let currency of userCurrencies">
        <header class="card-header">
            {{currency.currencyName}}
        </header>
        <div class="card-body">
            <p class="title">
                {{currency.currentlyValue | number : '1.2-2'}}
            </p>
            <p class="subtitle">
                {{today | date:'dd/MM/yyyy HH:mm'}}
            </p>
        </div>
    </div>

</section>
<app-navbar></app-navbar>
<app-operacao-modal></app-operacao-modal>
<app-troca-operacao></app-troca-operacao>

