.flexrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.rotation {
    transition: all 1s ease;
}

.rotation.down {
    transform: rotate(45deg);
}

.has-error {
    color: $error;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

